.pagination-container {
    margin: 20px;
}

.pagination-box {
    display: inline-block;
    cursor: pointer;
    outline: 0;
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    margin-left: -1px;
    text-align: center;
    border: 1px solid rgb(222, 226, 230)
}

.pagination-box-active {
    background-color: #007bff;
}

.pagination-container :nth-child(1) {
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.pagination-container :last-child {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
